{% extends "base.html" %}
{% block content %}
{{success}}
{{error}}

 <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Home</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">               
                <tbody>
                 
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<label for="uname"><b>Details</b></label>                          
                        </div>
                      </div>
                    </td>
                  <tr>                   
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

</form>
{% endblock %}

