{% extends "base.html" %}
{% block content%}
    {% for post in posts %}
	   <article class="media content-section">
         <div class="media-body">
            <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.userName }}</a>
      <small class="text-muted">{{ post.userType}}</small>
    </div>
    <h2><a class="article-title" href="#">{{ post.lender_startdate }}</a></h2>
    <p class="article-content">{{ post.lender_enddate }}</p>
  </div>
</article>
    {% endfor %}
{% endblock content %}



	

