{% extends "baseregister.html" %}
{% block content %}
{{success}}
{{error}}
<form method="POST" action="user/">
 <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Book Details</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">               
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">                        
                        <div class="d-flex flex-column justify-content-center">
                         {% csrf_token %}
                        </div>
                      </div>
                    </td>                    
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<label for="uname"><b>Book name</b></label>                          
                        </div>
                      </div>
                    </td>
                    <td>
 			<div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<input type="text" placeholder="Enter Book name" name="bookname" required>                        
                        </div>
                      </div>                     
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<label for="uname"><b>Author name</b></label>                         
                        </div>
                      </div>
                    </td>
                    <td>
 			<div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<input type="text" placeholder="Author name" name="authorname" required>                         
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                     <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<label for="uname"><b>Genre</b></label>                         
                        </div>
                      </div>
                    </td>
                    <td>
 			<div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<input type="text" placeholder="Genre" name="genre" required>                         
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                     <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<label for="psw"><b>Book condition</b></label>                       
                        </div>
                      </div>
                    </td>
                    <td>
 			<div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<input type="text" placeholder="Book condition" name="bookcondition" required>                         
                        </div>
                      </div>
                    </td>
                  </tr>
		<tr>
                     <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<label for="cpsw"><b>Description</b></label>                      
                        </div>
                      </div>
                    </td>
                    <td>
 			<div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<input type="text" placeholder="Description" name="description" required>                         
                        </div>
                      </div>
                    </td>
                  </tr>		
		<tr>
                    <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<label for="mobn"><b>Book edition</b></label>                 
                        </div>
                      </div>
                    </td>
                    <td>
 			<div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<input type="text" placeholder="Book edition" name="bookedition" required>                        
                        </div>
                      </div>
                    </td>
                  </tr>

		<tr>
                     <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
			<button type="submit">Save</button> 
                   
                        </div>
                      </div>
                    </td>

                     <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
      <button type="reset">Reset Values</button> 
                   
                        </div>
                      </div>
                    </td>

                    <td>
                      <div class="d-flex px-2 py-1">                       
                        <div class="d-flex flex-column justify-content-center">
      <a href="/backtodash" 
        button type="button">Back to Dashboard</button>
  </a>    
                        </div>
                      </div>
                    </td>
      
                   
                  </tr>			
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

</form>
{% endblock %}

