{% extends "base.html" %}

{% block content%}
{{success}}
<form method="POST" action="user/">

{% for p in profile %}
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">

                <div class="col-lg-6">
                  <div class="d-flex flex-column h-100">
{% csrf_token %}
        <i><h5 class="font-weight-bolder"><b>Username:</i></b> {{ p.2 }}<br></h5>
        <i><p class="mb-5"><b>First name:</i></b> {{ p.0 }}<br>
        <i><p class="mb-5"><b>Last name:</i></b> {{ p.1 }}<br>
        <i><p class="mb-5"><b>User password:</i></b> {{ p.3 }}<br>
        <i><label for="uname"><p class="mb-5"><b>Age:  </i></b></label><input type="text" placeholder="Age" name="age" value={{ p.4 }} ><br>
        <i><label for="uname"><p class="mb-5"><b>Address:  </i></b></label><input type="text" placeholder="Address" name="address" value={{ p.5 }} ><br>
        <i><label for="uname"><p class="mb-5"><b>Pincode:  </i></b></label><input type="text" placeholder="Pincode" name="pincode" value={{ p.6 }} ><br>
        <i><label for="uname"><p class="mb-5"><b>Mobile No.:  </i></b></label><input type="text" placeholder="Mobile No." name="mobileno" value={{ p.7 }} ><br>
        <i><label for="uname"><p class="mb-5"><b>Email ID:  </i></b></label><input type="text" placeholder="Email ID:" name="emailid" value={{ p.8 }} ><br>

<a div class = "col-lg-5 ms-auto mt-lg-0">
                       <button type ="submit" class="btn bg-gradient-primary my-1 me-1">Save updates</button>       
        

                    </a>
                  </div>
                </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endfor %}
</form>
{% endblock content %}



